body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3ebe8;
}

.container {
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
  background: #fff8f0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #bbcbcd;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover {
  background-color: #ffa8a8;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  font-size: 16px;
  width: 50%;
  border-radius: 6px;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.equal {
  background-color: #cce4ff;
}

.high {
  background-color: #ffcccc;
  font-weight: bold;
}

.low {
  background-color: #d0f5c9;
}
